body{
    background-color: hsl(233, 47%, 7%) ;
    font-size: 15px;
}

.container{
    background-color: hsl(244, 38%, 16%);
}

h1, h2, h3, h4, h5, h6{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

