
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body{
    background-color: hsl(30, 38%, 92%);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color:hsl(212, 21%, 14%);
    
}
.container{
    max-width: 700px;
    max-height: 700px;
}

button{  
    color:hsl(0, 0%, 100%);
    padding: 15px 25px;
    background-color: hsl(158, 36%, 37%);
    text-decoration: none;
}

button:hover{
    background-color: hsl(158, 38%, 31%);
}

p, small {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:hsl(228, 12%, 48%)
}

/*Cuando el tamaño del ancho tenga un maximo de 375px la pantalla va a cambiar de acuerdo a lo que necesite mostrar*/
@media (max-width: 375px){

}

/*Cuando el tamaño del ancho tenga un maximo de 1440px la pantalla va a cambiar de acuerdo a lo que necesite mostrar*/
@media (max-width: 1440px){

}